# ************************************
# Vhost template
# Managed by Ansible
# ************************************

<VirtualHost *:80>
  ServerName {{ hostname }}

  ## Vhost docroot
  DocumentRoot "/var/www/html/omeka-s"

  ## Directories, there should at least be a declaration for /var/www/html/omeka-s
  <Directory "/var/www/html/omeka-s">
    AllowOverride All
    Order allow,deny
    Allow from all
		Require all granted
  </Directory>

  ## Logging
  ErrorLog "/var/log/httpd/omeka_error.log"
  ServerSignature Off
  CustomLog "/var/log/httpd/omeka_access.log" combined
</VirtualHost>
